<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>About Me</h1>
    <h2>...and my new Astro site!</h2>
    <p>I am making a simple blog with Astro.</p>
    <p>I am new to Astro. Doing this project to get comfortable with Astro.</p>
</body>
